@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Ajax.BeginForm("LogOff", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure", UpdateTargetId = "MainContainer" },
                    new { id = "loginForm", returnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active" onclick="ChangePage('Manage','Index')">
            <a href="" class="nav-link nav-button">Hello @User.Identity.GetUserName()!</a>
        </li>
        <li class="nav-item active" onclick="ChangePage('Design','Index')"><a href="" class="nav-link nav-button">My Images</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active" id = "registerLink" onclick="ChangePage('Account','Register')"><a href="" class="nav-link nav-button">Register</a></li>
        <li class="nav-item active" id = "loginLink" onclick="ChangePage('Account','Login')"><a href="" class="nav-link nav-button">Log in</a></li>
    </ul>
}
