@model IEnumerable<OpenSourceTees.Models.Image>

@{
    ViewBag.Title = "GuestIndex";
}

<h2>GuestIndex</h2>

<head>

    @*<script type="text/javascript" src="~/Js/TeeShirt.js"></script>*@

</head>

<body>
    <div class="sidenav">
        <div id="main_canvas_container"></div>
    </div>

    <div id="resultsTable">

    </div>
    
    
</body>


